body {
    background-color: rgb(165, 165, 165);
    margin: 0px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    height: 80px;
    line-height: 80px;
    width: 100%;
    background-color: rgb(192, 189, 189);
}

.header-heading{
    display: flex;
}
.logo {
    height: 80px;
    width: auto;
    object-fit: cover;
}

.topic {
    height: 80px;
    margin-left: 50px;
    font-weight: bold;
    font-size: 40px;
}

.search-box {
    height: 50px;
    width: 400px;
    margin-right: 50px;
    padding-left: 30px;
    background-color: rgb(255, 253, 253);
    border-radius: 100px;
    font-size: 30px;
}

