<!-- templates/signup.html
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ログイン</title>
</head>
<body>
    <h1>ログイン</h1>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
    <form method="POST">
        {{ form.csrf_token }}
        <label for="user_name">ユーザー名</label>
        {{ form.user_name }}
        <label for="password">パスワード</label>
        {{ form.password }}
        {{ form.submit }}
    </form>
</body>
</html> -->
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="static/css/login.css" />
</head>
<body>
    <form method="POST">
        {{ form.csrf_token }}
    <div class="login">
    <div class="div">
        <div class="text-wrapper-4">ログイン</div>
        {{ form.user_name(class="rectangle-2")}}
        <div class="text-wrapper-2">パスワード:</div>
        {{ form.password(class="rectangle")}}
        <div class="text-wrapper-3">アカウント名:</div>
        {{ form.submit(class="overlap-group")}}
        </div>
    </div>
    </div>
</body>
</html>
