<!DOCTYPE html>
<html lang="ja">
<head>
    <title>groupWork</title>
    <link rel="stylesheet" type="text/css" href="static/css/Mypage.css">
</head>
<body>
    <div class="headerBox">
        <div class="LogoImage"><center class="LogoText">logo</center></div>
        <img src={{ Home_Icon }} width="50px" height="45px" class="HomeIcon">
        <button class="HomeLinkButton" type="submit">マイページ</button>
        <img src={{ Category_Icon }} width="30px" height="35px" class="CategoryIcon">
        <button class="CategoryLinkButton" type="submit">カテゴリー</button>
        <img src={{ Inquiry_Icon }} width="40px" height="33px" class="InquiryIcon">
        <button class="InquiryLinkButton" type"submit">お問い合わせ</button>
        <input type="text" class="searchTextBox" placeholder="検索"></input>
        <div class="userIconBox">
            <img src={{ Human_Icon }} width="50px" height="60px" class="HumanIcon">
        </div>
</body>
</html>